*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.hero{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../images/slide1.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}
label{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(1, 4, 17);
}
.form-box{
    top: -30px;
    width: 380px;
    height: 400px;
    position: relative;
    margin: 6% auto;
    background: rgb(246, 246, 248);
    padding: 5px;
    overflow: hidden;
}
.button-box{
    width: 100px;
    margin: 15px auto;
    position: relative;
    border: 30px;
    text-align: center;
    background-color: #0e63ae;
    border-radius: 30px;
}
.btn{
    padding: 10px 30px;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    text-align: center;
    font-weight: lighter;
}

.input-group{
    top: 150px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-field{
    width:100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid rgb(1, 29, 91);
    outline: none;
    background: transparent;
}
.submit-btn{
    width: 35%;
    padding: 10px 25px;
    cursor: pointer;
    display: inline;
    margin-right: 10px;
    margin-left: 20px;
    background: linear-gradient(to right, #9785fc, #03013e);
    border: 0;
    outline: none;
    border-radius: 15px;
    justify-items: center;
    color: #fff;
    margin-top: 10px;
}

#login{
    left: 50px;
}
.header{
    font-size: 15px;
    color: #0b034d;
    display: inline;
}
.hi{
    float: left;
    width: 35px;
    height: 35px;
    margin-left: 80px;
    
}
@media only screen and (max-width:800px) {
    /* For tablets: */
    .main {
      width: 80%;
      padding: 0;
    }
    .right {
      width: 100%;
    }
}
@media only screen and (max-width:500px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
    }
}
